<% var isPage = post.layout === 'page'; %>
<% var hasDisqus = post.comments && theme.disqus_shortname; %>
<% var hasValine = post.comments && theme.valine.enable && theme.valine.appId && theme.valine.appKey; %>
<% var hasTags = post.tags && post.tags.length; %>
<% var hasPostFooter = hasDisqus || hasValine || hasTags; %>
<article id="<%= post.layout %>-<%= post.slug %>" class="h-entry article article-type-<%= post.layout %>" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
  <% if (!isPage){ %>
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
      <%- partial('post/category') %>
    </div>
  <% } %>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'p-name article-title', index: index}) %>
      </header>
    <% } %>
    <div class="e-content article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <% if (!isPage && hasPostFooter){ %>
      <footer class="article-footer">
        <% if (hasDisqus){ %>
          <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><span class="fa fa-comment"><%= __('comment') %></span></a>
        <% } %>
        <% if (hasValine){ %>
          <a href="<%- url_for(post.path) %>#comments" class="article-comment-link">
            <span class="post-comments-count valine-comment-count fa fa-comment" data-xid="<%- url_for(post.path) %>" itemprop="commentCount"></span>
            <%= __('comment') %>
          </a>
        <% } %>
        <% if (hasTags){ %>
          <%- partial('post/tag') %>
        <% } %>
      </footer>
    <% } %>
  </div>
  <% if (!index && !isPage){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && !isPage && hasDisqus){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
<% if (!index && !isPage && hasValine){ %>
  <section id="comments" class="vcomment">

  </section>
<% } %>
